/target/
/gwt-unitCache/
/.gwt/
/.settings/
/.sonar/
/war/WEB-INF/lib
/war/WEB-INF/deploy
war/log4j.log
/www-test
/war/Vitafarma/*.rpc
/war/Vitafarma/*.cache.html
/war/Vitafarma/*.cache.gif
/war/Vitafarma/*.cache.png
/war/shared/*.cache.html
/war/shared/*.cache.gif
/war/shared/*.cache.png
/war/extgwt
war/images/Thumbs.db
